name: Self-hosted flatpak repository

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  flatter:
    name: Build Flatpak
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/andyholmes/flatter/kde:6.10
      options: --privileged
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: flatpak/io.github.vadi2.postured.yml
          upload-pages-artifact: true
          upload-bundles: true

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: flatter
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages

    steps:
      - name: Deploy Pages
        uses: actions/deploy-pages@v4
